.contacts {
  display: block;
  width: 600px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
}

.contactList {
  display: block;
  list-style: disc;
  padding-left: 30px;
  margin-left: 0px;
}
.contactItem {
  text-align: start;
  margin-bottom: 5px;
}

.name {
  display: inline-block;
  width: 250px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 500;
}

.number {
  display: inline-block;
  width: 150px;
  font-size: 20px;
  font-weight: 500;
  margin-right: 20px;
}

.button:hover {
  cursor: pointer;
}
